main{
    width: 100%;
}
embed{
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
}
.contentOfTable{
    height: 37rem;
    background: var(--color1);
    padding: 9rem 10rem;
    color: white;
}
#contentOfTable2{
    background: var(--main-color);
}
#contentOfTable3{
    background: var(--color2);
}
.titleContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.circle{
    background-color: white;
    opacity: 25%;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: -0.8rem;
}
.circle p{
    color: var(--color1);
    text-align: center;
    font-size: 2rem;
    margin-top: 1.2rem;
    padding: 0;
    font-weight: 800;
}
#circle2 p{
    color: var(--main-color);
}
#circle3 p{
    color: var(--color2);
}
.tableTitle{
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-family: "Barriecito";
    margin-bottom: 8rem;
    line-height: 5rem;
}
.tableContentContainer{
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-wrap: wrap;
}
.tableContent ul{
    margin-left: 2rem;
    margin-top: 1rem;
}
.card-img{
    filter: brightness(45%);
}

/*introduce*/
.introduce-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
    flex-wrap: wrap;
}
.introduce-container2{
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 0 2rem;
}
.introduce-container a{
    margin-top: 3rem;
    text-align: center;
    display: block;
}
.card-img-overlay{
    padding: 4rem;
}
.video-container{
    width: 70%;
    display: flex;
    gap: 5rem;
    margin-bottom: 12rem;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.introduce-title{
    background: var(--color1);
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    font-size: 4rem;
    margin-bottom: 10rem;
}
#introduce-title2{
    background: var(--main-color);
}
#introduce-title3{
    background: var(--color2);
}
.circle-container{
    background-color: var(--color2);
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -3rem;
    top: -5rem;
    padding: 1rem;
}
.sub-introduce-container{
    width: 45rem;
    display: flex;
    justify-content: center;
}
.pdf-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.introduce-container .card{
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
    border-color: white;
    margin: 0 1rem;
}

@media (max-width: 1439px) {
    .contentOfTable{
        height: 44rem;
    }
    .tableContent{
        width: 13rem;
    }
    .contentOfTable{
        padding: 4rem;
    }
    .tableContentContainer{
        display: flex;
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}